# Data Analysis with Python

### Load libraries

In [21]:
import numpy as np # numpy is named as np
import pandas as pd # pandas is named as pd
from sklearn.datasets import load_iris

### Load `iris` data

In [17]:
# Load dataset
irisdata = load_iris()
iris = pd.DataFrame(irisdata.data, columns = irisdata.feature_names) # convert a Scikit-learn dataset to a Pandas dataset
iris['Species'] = irisdata.target # read the target variable

### Quick look at on the `iris` data set

In [10]:
type(iris) # type of the dataset

pandas.core.frame.DataFrame

In [11]:
iris.shape # output: (rows, columns)

(150, 5)

In [12]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
Species              150 non-null int64
dtypes: float64(4), int64(1)
memory usage: 5.9 KB

In [13]:
iris.count()

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
Species              150
dtype: int64

In [14]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [15]:
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

### Exploratory Data Analysis